# Git files
.git
.gitignore

# Build artifacts
__debug_bin*

# Editor configs
.vscode
.idea

# Environment variables - we don't want to include these in the image
.env
*.env

# Readme and documentation
README.md
*.md
